# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.mypy_cache/
.pytest_cache/
.coverage*
htmlcov/
.venv/
venv/
env/
*.log
.env
.env.*

# Editors/OS
.DS_Store
.idea/
.vscode/

# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
*.lock

# Node (if any tooling)
node_modules/

# Byte-compiled/optimized DLLs
*$py.class
